<?xml version="1.0"?>
<launch>
	<arg name="namespace" default="/drone"/>
	
	<group ns="$(arg namespace)_1">
		
		<param name="robot_description" command="$(find xacro)xacro '$(find drone_description)/urdf/drone.xacro'" />
		
		<node name="robot_1_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
			<!--<remap from="/joint_states" to="/drone/joint_states" />-->		
			<param name="publish_frequency" type="double" value="5.0" />
		</node>
	</group>

	<group ns="$(arg namespace)_2">
		
		<param name="robot_description" command="$(find xacro)xacro '$(find drone_description)/urdf/drone.xacro'" />
		
		<node name="robot_2_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
			<!--<remap from="/joint_states" to="/drone/joint_states" />-->		
			<param name="publish_frequency" type="double" value="5.0" />
		</node>
	</group>

</launch>