<?xml version="1.0"?>
<launch>
	
	<arg name="namespace" default="/drone"/>
	<arg name="world_name" default="worlds/empty.world"/>

	<!-- Drone Pose -->
	<arg name="x" default="2.5"/>
	<arg name="y" default="2.5"/>
	<arg name="z" default="0.1"/>
	<arg name="roll" default="0.0"/>
	<arg name="pitch" default="0.0"/>
	<arg name="yaw" default="0.0"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find drone_gazebo)/worlds/drone_house.world" />
		<arg name="paused" default="false" />
		<arg name="use_sim_time" default="true" />
		<arg name="gui" default="true" />
		<arg name="headless" default="false" />
		<arg name="debug" default="false" />
	</include>

	<include file="$(find drone_description)/launch/drone.launch">
    	<arg name="namespace" value="$(arg namespace)"/>
  	</include>
	
	<group ns="$(arg namespace)">
		
		<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
			  args="-param robot_description -urdf -model drone 
				  	-x $(arg x) -y $(arg y) -z $(arg z)
	                -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" />
		
		<rosparam file="$(find drone_gazebo)/config/drone_control.yaml" command="load" ns="$(arg namespace)" />
		
		<!--<node name="control_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="namespace=/Kwad
		/Kwad/joint_state_controller
		/Kwad/joint_fr_motor_controller
		/Kwad/joint_fl_motor_controller
		/Kwad/joint_bl_motor_controller
		/Kwad/joint_br_motor_controller" />-->
		
		<node name="control_spawner" pkg="controller_manager" type="spawner" 
			  respawn="false" output="screen" 
			  args="--namespace=$(arg namespace) joint_state_controller joint_motor_controller" />
		
	</group>
	
		
</launch>
